.backButtonContainer {
	text-decoration: none;
	color: #070707;
	font-size: 1rem;
	position: absolute;
	top: 5%;
	left: 5%;
}

.formContainer {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.askSelectionContainer {
	background-color: #363636;
	color: white;
	padding: 1rem 1rem 2rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.formHeading {
	font-size: 1.5rem;
}

.textarea {
	resize: none;
	width: 400px;
	height: 200px;
	font-size: 17px;
	padding: 20px;
	font-family: system-ui;
	border: none;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	border-radius: 3px;
}

.textarea::selection {
	background: #141414;
}

.textarea::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

.textarea::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 10px;
	border: 3px solid #070707;
}

.textarea::-webkit-scrollbar-thumb:hover {
	background-color: #999999;
}

.textarea:focus {
	outline: none;
}

.buttonContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.formButton {
	color: #fff;
	background-color: #ffffff00;
	border: 1px solid white;
	padding: 1rem 2rem;
	width: fit-content;
	cursor: pointer;
	transition: 200ms all ease-in-out;
}

.send-disabled {
	background-color: #8a8787 !important;
	cursor: wait;
}

.formButton:hover {
	transform: scale(105%);
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
	.textarea {
		width: 90%;
	}
	.askSelectionContainer {
		width: 90%;
	}
}
