.blogContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.blogPageContainer {
	width: 65vw;
}
.blogHeaderContainer {
	width: 50%;
	display: flex;
	margin-top: 8rem;
	justify-content: center;
	align-items: center;
}
.parallelImageConatiner {
	width: 10%;
	margin: auto;
}

.blogProfileContainer {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.blogProfileMisc {
	display: flex;
}

.readTime {
	margin-left: 1rem;
	color: #a3a3a3;
}

/* Blog Tag Chips Section */
.blogTagContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}
.tagContainer {
	display: grid;
	grid-template-columns: repeat(4, 0fr);
	grid-gap: 10px;
	grid-row-gap: 10px;
	margin: 2rem;
}

.chips {
	padding: 0.5rem;
	font-size: 0.8rem;
	text-align: center;
	width: fit-content;
	background-color: #d9d9d9;
	border-radius: 25px;
}

.tagContainer {
	width: 65vw;
}

/* Subscribe Email Container */

.subscribeContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.emailContainer {
	border-top: 1px solid #000000;
	width: 65vw;
}

.subscribeHeader {
	margin-top: 2rem;
	font-weight: 600;
	font-size: 1.2rem;
}

.emailBar {
	flex: 1;
	border-bottom: 1px solid #000000;
	align-items: center;
	height: 2.5rem;
}

.subscribeInputContainer {
	display: flex;
	align-items: end;
}
.emailstatus {
	margin-top: 0.5rem;
	font-size: 0.8rem;
	font-weight: 500;
	color: #bb2828;
}

.statussuccess {
	color: #2ca03e;
}
.emailInput {
	background-color: transparent;
	border: none;
	width: 100%;
	outline: none;
	color: #9c9c9c;
	font-size: 16px;
}

.subscribeButton {
	margin: 2rem 2rem auto 2rem;
	border: 1px solid #000000;
	padding: 1rem 2rem;
	border-radius: 50px;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}

.subscribeButton:hover {
	transform: scale(110%);
}

/* blog Container */

.subscribeContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.blog {
	width: 65vw;
}

.blog a {
	color: #000000;
}

.blog img {
	margin-top: 2rem;
	margin-bottom: 2rem;
	height: fit-content;
	width: 100%;
}

.blogHeader {
	margin-top: 4rem;
}

.blogDescription {
	margin-top: 2rem;
}

@keyframes background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}

.diamondShine {
	font-weight: 900;

	animation: background-pan 3s linear infinite;
	background: #7474bf; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#348ac7,
		#7474bf
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#348ac7,
		#7474bf
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	cursor: pointer;
	transition: all 200ms ease-in;
}

.readprogress {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	position: sticky;
	top: 0px;
	margin: 0;
	width: 100vw;
	z-index: 100;
	height: 2em;
}
.progress-container {
	width: 90%;
	padding: 0.5em;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress-bar {
	width: 50%;
	/* vertical-align: 1em;
	inline-size: 100vw; */
	appearance: inherit;
	border: 0.1px solid var(--color-primary);
	block-size: 0.4em;
	transition: all 1s ease;
}

.progress-bar::after {
	content: ""; /* add the percentage symbol after the progress value */
	position: absolute;
	top: 0;
	right: 75%;
	padding: 0 5px;
	background-color: var(--color-secondary);
	width: 10px;
}

progress::-webkit-progress-bar {
	background-color: #ffffff;
}
progress::-webkit-progress-value {
	background: #7474bf; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#348ac7,
		#7474bf
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#348ac7,
		#7474bf
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: all 1s ease;
}

progress::-webkit-progress-value::after {
	content: " - Remember this";
}

.readCompleteContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 150%;
	max-width: 10%;
	opacity: 0;
	min-width: 200px;
	width: fit-content;
	transition: all 250ms ease;
}

.container-appear {
	animation: scaleSign 2000ms ease forwards;
}

@keyframes scaleSign {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	40% {
		transform: scale(1.07);
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	90% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(0);
	}
}

.readOuter {
	padding: 0.5rem;
	background-color: var(--color-primary);
}

.readInner {
	background-color: var(--color-secondary);
	text-align: center;
	padding: 1rem;
}

@media (max-width: 768px) {
	.blogPageContainer {
		width: 65vw;
	}

	.blogHeaderContainer {
		width: 80%;
		margin-top: 3rem;
	}

	.tagContainer {
		width: 65vw;
	}

	.emailContainer {
		width: 65vw;
	}

	.blog {
		width: 65vw;
	}

	.subscribeButton {
		padding: 0.7rem 1.5rem;
	}
}

@media (max-width: 480px) {
	.blogPageContainer {
		flex-direction: column;
		width: 85vw;
	}
	.tagContainer {
		width: 85vw;
	}
	.emailContainer {
		width: 85vw;
	}

	.blog {
		width: 85vw;
	}
	.blogHeaderContainer {
		width: 90%;
	}

	.subscribeButton {
		padding: 0.5rem 1rem;
	}
}
