.landingSection {
	width: 100%;
	height: 100vh;
	background-color: var(--color-text-primary);
}

.landing {
	background-image: url(/public/landingparallellines.svg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
