.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.searchPageContainer {
	width: 65vw;
}
.searchHeaderContainer {
	margin-top: 3rem;
}
.headerTitle {
	font-size: 2rem;
	font-weight: 500;
}

.blogPosts {
	margin-top: 0rem;
}

@media (max-width: 768px) {
	.searchPageContainer {
		width: 65vw;
	}
}

@media (max-width: 480px) {
	.searchPageContainer {
		flex-direction: column;
		width: 85vw;
	}
}
