---
import "./LandingSection.css"
import HeaderMain from "../HeaderMain/HeaderMain.astro"
---

<section>
	<HeaderMain />
	<div class="landingSection">
		<div class="landing">
			<div class="landingHeading">
				Welcome to <div>Parallel Selection</div>
			</div>
			<a href="#BlogPosts" class="landingButton">Start Browsing</a>
		</div>
	</div>
</section>
