.landingSection {
	width: 100%;
	height: 100vh;
	background-color: var(--color-primary);
}

.landing {
	background-image: url(/landingparallellines.svg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landingHeading {
	overflow: hidden;
	margin-bottom: 5rem;
	text-align: center;
	font-weight: 400;
	font-size: 4rem;
	color: white;
	width: fit-content;
}

.landingHeading div {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.05em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 2.5s steps(40, end), blink-caret 0.95s step-end infinite;
}

.select {
	color: #fff;
	-webkit-animation: random 10s infinite;
	animation: random 10s infinite;
	transition: all 200ms ease-in;
}

@keyframes random {
	15% {
		color: #6f576f;
	}
	30% {
		color: #f6844b;
	}
	45% {
		color: #f5dcf5;
	}
	60% {
		color: #add5d0;
	}
	75% {
		color: white;
	}
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}

.landingButton {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid white;
	color: white;
	padding: 1rem 1rem;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}

.landingButton:hover {
	transform: scale(110%);
}

@media only screen and (max-width: 700px) {
	.landingHeading {
		font-size: 2.5rem;
	}
}

@media (max-height: 780px) {
	.landingHeading {
		margin-top: 7rem;
		margin-bottom: 1rem;
		font-size: 2rem;
	}
}
