@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;400;500;600;700&display=swap");

:root {
	--color-primary: #292929;
	--color-secondary: #cbcbcb;
	--color-text-primary: #292929;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Prompt", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.5;
	color: #292929;
}
