---
import Layout from "../layouts/Layout.astro"

import "../styles/components/404.css"
---

<Layout>
	<section>
		<div class="landingSection">
			<div class="landing">
				<div class="landingHeading">
					404 Error: <div>Existence Erased.</div>
				</div>
				<a href="/" class="landingButton">Return Back</a>
			</div>
		</div>
	</section>
</Layout>
