---
import Layout from "../layouts/Layout.astro"
import "../styles/components/LandingPage.css"
import "../styles/global.css"
import HeaderMain from "../components/HeaderMain/HeaderMain.astro"
---

<div>
	<HeaderMain />
	<div class="landingSection">
		<div class="landing"></div>
	</div>
</div>
