---
import Layout from "../layouts/Layout.astro"
import "../styles/components/LandingPage.css"
import "../styles/global.css"
import LandingSection from "../components/LandingSection/LandingSection.astro"
import TrendingSection from "../components/TopSelectionSection/TrendingSection.astro"
import BlogPostSection from "../components/BlogPostSection/BlogPostSection.astro"
---

<Layout>
	<LandingSection />
	<TrendingSection />
	<BlogPostSection />
	<section class="footer"></section>
</Layout>
