---
import Layout from "../layouts/Layout.astro"
import "../styles/components/LandingPage.css"
import "../styles/global.css"
import HeaderMain from "../components/HeaderMain/HeaderMain.astro"
---

<Layout>
	<div>
		<HeaderMain />
		<div class="landingSection">
			<div class="landing">
				<div class="landingHeading">
					Welcome to <div>Parallel Selection</div>
				</div>
				<div class="landingButton">Start Browsing</div>
			</div>
		</div>
	</div>
</Layout>
