---
import Header from "../components/Header/Header.astro"
import "../styles/components/SearchPage.css"
import "../styles/global.css"
---

<section>
	<Header />
	<div class="container">
		<div class="searchHeaderContainer">
			<div class="headerTitle">LifeStyle</div>
		</div>
	</div>
</section>
