---
import BlogPostSection from "../components/BlogPostSection/BlogPostSection.astro"
import Footer from "../components/Footer/Footer.astro"
import Header from "../components/Header/Header.astro"
import Layout from "../layouts/Layout.astro"
import "../styles/components/SearchPage.css"
import "../styles/global.css"

const category = Astro.url.searchParams
console.log(category)
---

<Layout>
	<Header />
	<div class="searchContainer">
		<div class="searchPageContainer">
			<div class="searchHeaderContainer">
				<div class="headerTitle" id="Title">#{category}</div>
			</div>
		</div>
	</div>
	<BlogPostSection name="lifeStyle" />
	<Footer />
</Layout>
