---
import "./TopSelectionSection.css"
---

<section class="topTrending">
	<div class="topTrendingContainer">
		<div class="topTrendingHeading">Trending</div>
		<div class="trendingCardContainer">
			<div class="trendingCard">
				<div class="trendingCardContent">
					<div class="trendingTitle">Top 5 Rubic Cubes</div>
					<div class="trendingDescription">
						So, basically the term Rubic Cube was coined in the year
					</div>
					<div class="contentMisc">
						25 Jan <span class="duration">3 min</span>
					</div>
				</div>
			</div>
			<div class="trendingCard">
				<div class="trendingCardContent">
					<div class="trendingTitle">Top 5 Rubic Cubes</div>
					<div class="trendingDescription">
						So, basically the term Rubic Cube was coined in the year
					</div>
					<div class="contentMisc">
						25 Jan <span class="duration">3 min</span>
					</div>
				</div>
			</div>
			<div class="trendingCard">
				<div class="trendingCardContent">
					<div class="trendingTitle">Top 5 Rubic Cubes</div>
					<div class="trendingDescription">
						So, basically the term Rubic Cube was coined in the year
					</div>
					<div class="contentMisc">
						25 Jan <span class="duration">3 min</span>
					</div>
				</div>
			</div>
			<div class="trendingCard">
				<div class="trendingCardContent">
					<div class="trendingTitle">Top 5 Rubic Cubes</div>
					<div class="trendingDescription">
						So, basically the term Rubic Cube was coined in the year
					</div>
					<div class="contentMisc">
						25 Jan <span class="duration">3 min</span>
					</div>
				</div>
			</div>
			<div class="trendingCard">
				<div class="trendingCardContent">
					<div class="trendingTitle">Top 5 Rubic Cubes</div>
					<div class="trendingDescription">
						So, basically the term Rubic Cube was coined in the year
					</div>
					<div class="contentMisc">
						25 Jan <span class="duration">3 min</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
