---
import "./Header.css"
import parallelSelectionLogo from "/parallelselectionlogo.svg"
import searchIcon from "/search.png"
import lineIMG from "/line.svg"
---

<header class="header">
	<div class="container">
		<div class="logoContainer">
			<a href="/">
				<img
					class="parallelSelectionLogo"
					src={parallelSelectionLogo}
					alt="Parallel Selection Logo"
				/>
			</a>
			<div class="searchBar">
				<div class="searchIconContainer">
					<img src={searchIcon} alt="" />
				</div>
				<input class="searchInput" placeholder="Select Selection" />
			</div>
		</div>
		<div class="navbarContainer">
			<input type="checkbox" id="toggle-menu" />
			<label class="menu-icon" for="toggle-menu">
				<div>
					<img class="collapseLine" src={lineIMG} alt="" />
				</div>
				<div>
					<img class="collapseLine" src={lineIMG} alt="" />
				</div>
			</label>
			<nav class="navItemsContainer">
				<ul class="navItems">
					<li class="blogLink"><a href="/search">Blog</a></li>
					<li class="askButton">
						<a href="/askselection">Ask Selection</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
