.header {
	background-color: var(--color-text-primary);
}

.container {
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 6rem;
}

.logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallelSelectionLogo {
	height: 10rem;
	width: 10rem;
	margin: 0rem 3rem 0rem 6rem;
}

.navItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	text-decoration: none;
	list-style: none;
	margin: 1rem 8rem;
}

.blogLink {
	color: #fff;
	font-weight: 600;
	margin: 1rem 4rem;
}

a {
	color: white;
	text-decoration: none;
}

.askButton {
	padding: 0.5rem 1rem;
	border-radius: 50px;
	background-color: white;
}

.askButton > a {
	font-weight: 600;
	color: rgb(0, 0, 0);
}

.searchBar {
	background-color: #d9d9d9;
	flex: 1;
	display: flex;
	border-radius: 50px;
	align-items: center;
}

.searchIconContainer {
	margin: 5px;
}

.searchInput {
	background-color: transparent;
	border: none;
	width: 100%;
	outline: none;
	color: rgb(0, 0, 0);
	font-size: 16px;
}

.navbarContainer {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.collapseLine {
	height: 2.5rem;
	width: 1rem;
}

#toggle-menu {
	display: none;
	cursor: pointer;
}

.menu-icon {
	margin-top: 0.5rem;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.navItemsContainer {
	background-color: var(--color-text-primary);
	transition: all 0.9s ease-in-out;
}

/* Mobile */
@media (max-width: 700px) {
	.navItemsContainer {
		display: none;
		transition: all 0.9s ease-in-out;
		opacity: 0;
	}

	#toggle-menu:checked ~ .navItemsContainer {
		display: block;
		position: absolute;
		top: 96px;
		opacity: 1;
		height: 100vh;
		width: 100%;
	}

	.navItems {
		display: block;
		margin: 2rem;
		align-items: center;
		flex-direction: column;
	}

	.blogLink {
		color: #fff;
		font-weight: 600;
		margin: 1rem;
	}

	.askButton {
		width: 50%;
		padding: 0.5rem;
		border-radius: 50px;
		background-color: white;
	}

	.parallelSelectionLogo {
		height: 7rem;
		width: 7rem;
		margin: 0.5rem 0.5rem 0rem 0rem;
	}
	.menu-icon {
		display: flex;
	}
}
