.header {
	background-color: var(--color-primary);
}

.container {
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 6rem;
}

.logoContainer {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallelSelectionLogo {
	height: 10rem;
	width: 10rem;
	margin: 0rem 3rem 0rem 6rem;
}

.searchBar {
	background-color: #d9d9d9;
	flex: 1;
	display: flex;
	border-radius: 50px;
	align-items: center;
	min-width: 120px;
}

.searchIconContainer {
	margin: 5px;
}

.searchInput {
	background-color: transparent;
	border: none;
	width: 100%;
	outline: none;
	color: rgb(0, 0, 0);
	font-size: 16px;
}

.navbarContainer {
	margin-top: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Mobile */
@media (max-width: 700px) {
	.parallelSelectionLogo {
		height: 7rem;
		width: 7rem;
		margin: 0.5rem 0.5rem 0rem 0rem;
	}
}
