---
import "./ParallelRods.css"
---

<>
	<input type="checkbox" id="toggle-menu" />
	<label class="menu-icon" for="toggle-menu">
		<div>
			<svg
				class="collapseLine"
				width="38"
				height="61"
				viewBox="0 0 38 61"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g id="ParallelRods">
					<g id="Rod">
						<path
							id="Handle"
							d="M6 5.99951L6 53.9995"
							stroke="#B3B1B1"
							stroke-width="2"></path>
						<g id="HandleEnd">
							<path
								d="M0.0785334 6.07857L6.07849 0.0785282L12.0785 6.07854L6.07839 12.0764L0.0785334 6.07857Z"
								fill="#B2B1B1"></path>
							<path
								d="M0.0785334 6.07857L6.07849 0.0785282L12.0785 6.07854L6.07839 12.0764L0.0785334 6.07857Z"
								fill="#B2B1B1"></path>
							<path
								d="M0.0785334 6.07857L6.07849 0.0785282L12.0785 6.07854L6.07839 12.0764L0.0785334 6.07857Z"
								fill="#B2B1B1"></path>
							<path
								d="M0.0785334 6.07857L6.07849 0.0785282L12.0785 6.07854L6.07839 12.0764L0.0785334 6.07857Z"
								fill="#B2B1B1"></path>
						</g>
						<g id="HandleEnd_2">
							<path
								d="M0.0785334 54.0786L6.07849 48.0785L12.0785 54.0785L6.07839 60.0764L0.0785334 54.0786Z"
								fill="#B2B1B1"></path>
							<path
								d="M0.0785334 54.0786L6.07849 48.0785L12.0785 54.0785L6.07839 60.0764L0.0785334 54.0786Z"
								fill="#B2B1B1"></path>
							<path
								d="M0.0785334 54.0786L6.07849 48.0785L12.0785 54.0785L6.07839 60.0764L0.0785334 54.0786Z"
								fill="#B2B1B1"></path>
							<path
								d="M0.0785334 54.0786L6.07849 48.0785L12.0785 54.0785L6.07839 60.0764L0.0785334 54.0786Z"
								fill="#B2B1B1"></path>
						</g>
					</g>
					<g id="Rod_2">
						<path
							id="Handle_2"
							d="M31.156 5.99951L31.156 53.9995"
							stroke="#B3B1B1"
							stroke-width="2"></path>
						<g id="HandleEnd_3">
							<path
								d="M25.2345 6.07857L31.2345 0.0785282L37.2345 6.07854L31.2344 12.0764L25.2345 6.07857Z"
								fill="#B2B1B1"></path>
							<path
								d="M25.2345 6.07857L31.2345 0.0785282L37.2345 6.07854L31.2344 12.0764L25.2345 6.07857Z"
								fill="#B2B1B1"></path>
							<path
								d="M25.2345 6.07857L31.2345 0.0785282L37.2345 6.07854L31.2344 12.0764L25.2345 6.07857Z"
								fill="#B2B1B1"></path>
							<path
								d="M25.2345 6.07857L31.2345 0.0785282L37.2345 6.07854L31.2344 12.0764L25.2345 6.07857Z"
								fill="#B2B1B1"></path>
						</g>
						<g id="HandleEnd_4">
							<path
								d="M25.2345 54.0786L31.2345 48.0785L37.2345 54.0785L31.2344 60.0764L25.2345 54.0786Z"
								fill="#B2B1B1"></path>
							<path
								d="M25.2345 54.0786L31.2345 48.0785L37.2345 54.0785L31.2344 60.0764L25.2345 54.0786Z"
								fill="#B2B1B1"></path>
							<path
								d="M25.2345 54.0786L31.2345 48.0785L37.2345 54.0785L31.2344 60.0764L25.2345 54.0786Z"
								fill="#B2B1B1"></path>
							<path
								d="M25.2345 54.0786L31.2345 48.0785L37.2345 54.0785L31.2344 60.0764L25.2345 54.0786Z"
								fill="#B2B1B1"></path>
						</g>
					</g>
				</g>
			</svg>
		</div>
	</label>
	<nav class="navItemsContainer">
		<ul class="navItems">
			<li class="blogLink"><a href="/search">Blog</a></li>
			<li class="askButton">
				<a href="/askselection">Ask Selection</a>
			</li>
		</ul>
	</nav>
</>
