---
import "../styles/components/Header.css"
import parallelSelectionLogo from "../../public/parallelselectionlogo.svg"
import searchIcon from "../../public/search.png"
---

<header class="header">
	<div class="container">
		<div class="logoContainer">
			<a href="index.html">
				<img
					class="parallelSelectionLogo"
					src={parallelSelectionLogo}
					alt="Parallel Selection Logo"
				/>
			</a>
			<div class="searchBar">
				<div class="searchIconContainer">
					<img src={searchIcon} alt="" />
				</div>
				<input class="searchInput" placeholder="Select Selection" />
			</div>
		</div>
		<nav class="navbarContainer">
			<ul class="navItems">
				<li class="blogLink"><a href="blog.html">Blog</a></li>
				<li class="askButton"><a href="askquestion.html">Ask Selection</a></li>
			</ul>
		</nav>
	</div>
</header>
