---
import "./BlogPostSection.css"
---

<section class="blogPosts">
	<div class="blogPostsContainer">
		<div class="blogCategoryContainer">
			<div class="blogCategoryHeading">Parallel Picks</div>
			<div class="blogCategories">
				<div class="blogCategory">
					<div class="categoryChip">Technology</div>
					<div class="categoryChip">Lifestyle</div>
					<div class="categoryChip">Food</div>
					<div class="categoryChip">Health Care</div>
					<div class="categoryChip">Electronics</div>
					<div class="categoryChip">Clothing</div>
				</div>
			</div>
		</div>
		<div class="blogPostsCardContainer">
			<div class="blogPostCard">
				<div class="blogPostCardContent">
					<div class="blogPostTitle">Top 5 Rubic Cubes</div>
					<div class="blogPostDescription">
						So, basically the term Rubic Cube was coined in the year. Here are
						our top picks of rubiks cube that have broken the internett
					</div>
					<div class="contentMisc">
						25 Jan <span class="duration">3 min</span>
					</div>
				</div>
				<div class="blogPostImage">Image</div>
			</div>

			<div class="blogPostCard">
				<div class="blogPostCardContent">
					<div class="blogPostTitle">Top 5 Rubic Cubes</div>
					<div class="blogPostDescription">
						So, basically the term Rubic Cube was coined in the year. Here are
						our top picks of rubiks cube that have broken the internett
					</div>
					<div class="contentMisc">
						25 Jan <span class="duration">3 min</span>
					</div>
				</div>
				<div class="blogPostImage">Image</div>
			</div>

			<div class="blogPostCard">
				<div class="blogPostCardContent">
					<div class="blogPostTitle">Top 5 Rubic Cubes</div>
					<div class="blogPostDescription">
						So, basically the term Rubic Cube was coined in the year. Here are
						our top picks of rubiks cube that have broken the internett
					</div>
					<div class="contentMisc">
						25 Jan <span class="duration">3 min</span>
					</div>
				</div>
				<div class="blogPostImage">Image</div>
			</div>

			<div class="blogPostCard">
				<div class="blogPostCardContent">
					<div class="blogPostTitle">Top 5 Rubic Cubes</div>
					<div class="blogPostDescription">
						So, basically the term Rubic Cube was coined in the year. Here are
						our top picks of rubiks cube that have broken the internett
					</div>
					<div class="contentMisc">
						25 Jan <span class="duration">3 min</span>
					</div>
				</div>
				<div class="blogPostImage">Image</div>
			</div>
		</div>
	</div>
</section>
