.blogPosts {
	margin-top: 6rem;
	margin-bottom: 6rem;
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.blogPostCard {
	display: flex;
	margin-top: 2rem;
	margin-right: 2rem;
	border: 1px solid hsl(0, 0%, 21%);
	transition: all 100ms ease-in;
	color: black;
}
.blogPostCard:hover {
	transform: scale(100.5%);
}

.postContainer {
	display: flex;
	margin: 1rem;
}

.blogPostsContainer {
	width: 65vw;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	position: sticky;
	align-items: baseline;
}
.blogCategoryContainer {
	width: 35%;
	height: max-content;
}

.blogCategoryHeading {
	font-weight: 600;
	font-size: 1.5rem;
}

.blogCategories {
	overflow-x: scroll;
	background-color: #363636;
	max-width: fit-content;
	width: 100%;
	height: max-content;
	display: flex;
}

.blogCategories::-webkit-scrollbar {
	width: 10px;
}

.blogCategories::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.blogCategories::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.blogCategories {
	-ms-overflow-style: inherit; /* IE and Edge */
	scrollbar-width: 1em; /* Firefox */
	color: white;
}

.blogCategory {
	background-color: #363636;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	color: white;
	grid-gap: 10px;
	grid-row-gap: 10px;
	margin: 2rem;
}

.categoryChip {
	min-width: max-content;
	border: 1px solid white;
	padding: 0.5rem 0.5rem;
	cursor: pointer;
	color: white;
	transition: all 200ms ease-in-out;
}

.categoryChip:hover {
	transform: scale(110%);
}

.blogPostsCardContainer {
	margin: 1rem;
	width: 65%;
	overflow: hidden;
}

.blogPostCardContent {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.blogPostTitle {
	margin-left: 1rem;
	font-weight: 600;
	font-size: 1rem;
}

.blogPostDescription {
	margin-left: 1rem;
	font-size: 1rem;
}

.blogPostImage {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	width: 30%;
	min-height: 150px;
	height: 100%;
	overflow: hidden;
}

.contentMisc {
	margin-left: 1rem;
}
.postImage {
	overflow: hidden;
	object-fit: cover;
	display: block;
	max-width: 230px;
	max-height: 95px;
	width: auto;
	height: auto;
}

.hide {
	display: none;
}

@media (max-width: 768px) {
	.blogPostsContainer {
		flex-direction: column;
		width: 75vw;
	}
	.blogCategoryContainer {
		width: 100%;
	}
	.blogPostsCardContainer {
		margin: auto;
		width: 80vw;
	}
}

@media (max-width: 480px) {
	.blogPostsContainer {
		flex-direction: column;
		width: 85vw;
	}
	.blogCategoryContainer {
		width: 100%;
	}

	.blogPostsCardContainer {
		width: 90vw;
	}
}
