---
import "./Footer.css"
---

<section class="footer">
	<div class="footerContainer">
		<div class="websiteContainer">
			<div class="websiteHeading">Parallel Select</div>
			<div class="aboutWebsite">
				A marketing website that compares different products available online
				and gives you a selection of products according to extensive research
			</div>
		</div>
		<div class="socialMediaContainer">
			<div class="socialHandle">
				<div class="websiteHeading">Social Media</div>
				<div class="handle">Youtube:</div>

				<div class="handle">Instagram:</div>
			</div>
		</div>
	</div>
</section>
